.productHighlightText {
  font-size: 12px;
  background: black;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
}

.productHighlightText--new {
  font-size: 12px;
  background: #441afa;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
}
