.menuItem {
  padding: 0.8rem;
}

.menuItemContainer--allDepartment {
  width: 900px;
  background-color: aliceblue;
}

.menuItem--allDepartment {
  width: 300px;
  background-color: #441afa;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItem--allDepartment :global(.vtex-menu-2-x-styledLinkContent) {
  color: #000;
  font-weight: bold;
  font-size: 14px;
  padding: 0 20px 0 20px;
}

.menuItemInnerDiv {
  width: 250px;
}
